
<div class="subTitleContainer">
    <h1 class="bg-main text-color styledTitleNoAnim ps-2">{{category.category}}</h1>
</div>

<div class="gridC">
    @for(product of products; track product.product_id;let i = $index){
        
    <div class="d-flex " >
        <div  class="card box" role="button" routerLink="{{'/producto/'+product.gtin}}">
            @if(category.category!='Mostrando Todos los Productos'){<img class="" src="{{product.image? product.image:'noimg.jpg'}}">}
            @else if(sortedProductImgs[i]){<img src="{{sortedProductImgs[i].image}}">}
            <h5 class="px-3">{{product.product}}</h5>
            <p class="price px-3 ">{{product.price | currency: 'USD'}}</p>
        </div>
        <!-- <p>{{product?.cart? product.cart.}}</p> -->
        @if(auth.isLoggedIn && !auth.isAdmin) {
            <span role="button" class="position-absolute cartIcon" (click)="addToCart(i)"><fa-icon [icon]="faCartShopping"></fa-icon>{{product?.cart?.quantity?  product?.cart?.quantity:'0'}}</span>

        }
        
    </div>  
   
    }
    <!-- Repite para más tarjetas -->
</div>