.window{
    height: 100vh;
}
.content{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--text-color);
    border-radius:10px;
    background-color: var(--invbg-color);
}
.successIcon{
    font-size: 100px;
    align-self: center;
}