
<!--
Práctica 3 
Equipo de:
Mendiola Montes Victor Manuel
Carranza Bolaǹos Jatniel
-->

<div class="card mt-5 pb-1 bg-info bs5-">
    <div class="card-header d-flex justify-content-between align-items-center"> 
        <h1 class=" text-center text-white">Categorías</h1>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalForm"> Nueva categoría</button>
    </div>
    <table class="card-body table">
        <thead>
            <tr>
                <th >ID</th>
                <th >Categoría</th>
                <th >Tag</th>
                <th >Estado</th>
            </tr>
        </thead>
        <tbody>
           @for (category of categories; track category){
            <tr>
                <td>{{category.category_id}} </td>
                <td>{{category.category}} </td>
                <td>{{category.tag}} </td>
                <td>@if (category.status) {
                        Activo
                    } @else {
                        Inactivo
                    }
                </td>
            </tr>
           }
        </tbody>
    </table>
</div>

<div class="modal fade" tabindex="-1" id="modalForm" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form [formGroup]="form" {ngSubmit}="onSubmit()">
            <div class="modal">
              <div class="mb-3">
                <label for="category" class="form-label">Categoría<span class="input-required"></span></label>
                <input type="text" class="form-control" formControlName="category" id="category" placeholder="" ngClass="{'is-invalid':form.controls['category'].errors && submitted}">
                @if (form.controls['category'].errors && submitted){
                  <small class="invalid-feedback">Favor de ingresar un nombre de categoria valido</small>
                }
              </div>
              <div class="mb-3">
                <label for="tag" class="form-label">Categoría<span class="input-required"></span></label>
                <input type="text" class="form-control" formControlName="category" id="category" placeholder="" ngClass="{'is-invalid':form.controls['category'].errors && submitted}">
                @if (form.controls['category'].errors && submitted){
                  <small class="invalid-feedback">Favor de ingresar un nombre de categoria valido</small>
                }
              </div>
            
             
            </div>
          
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-save">Agregar</button>
        </div>
 
      </div>
    </div>
  </div>
  
