<div class="card mt-5 pb-1 bg-info bs5-">
    <div class="card-header d-flex justify-content-between align-items-center"> 
        <h1 class=" text-center text-white">Categorías</h1>
        <button class="btn btn-primary" data-bs-toggle="modal"(click)="showModalForm()"> Nueva categoría</button>
    </div>
    <table class="card-body table">
        <thead>
            <tr>
                <th >ID</th>
                <th >Categoría</th>
                <th >Tag</th>
                <th >Estado</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
          
            <tr *ngFor="let category of categories; track category">
                <td  scope="row">{{category.category_id}} </td>
                <td>{{category.category}} </td>
                <td>{{category.tag}} </td>
                <td>
                  <a *ngIf="category.status == 0" (click)="enableCategory(category.category_id)">
                    <div class="td-status td-status-disable">
                      {{"inactivo"}}
                    </div>
                  </a>
                  <a *ngIf="category.status == 1" (click)="disableCategory(category.category_id)">
                    <div class="td-status td-status-enable">
                      {{"activo"}}
                    </div>
                  </a>

                </td>
                <td>
                  <a (click)="updateCategory(category)" >
                    <fa-icon [icon]="faPencil"></fa-icon>
                  </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" tabindex="-1" id="modalForm" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title">{{categoryUpdate == 0 ? "Agregar":"Actualizar"}}</h5> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="mb-3">

                <label for="category" class="form-label">Categoría<span class="input-required">*</span></label>
                <input type="text" class="form-control" formControlName="category" id="category" placeholder="Nombre de la categoria" [ngClass]="{'is-invalid':form.controls['category'].errors && submitted}">
                @if (form.controls['category'].errors && submitted){
                  <small class="invalid-feedback">Favor de ingresar un nombre de categoria valido</small>
                }
              </div>
              <div class="mb-3">
                <label for="tag" class="form-label">Tag<span class="input-required">*</span></label>
                <input type="text" class="form-control" formControlName="tag" id="tag" placeholder="Etiqueta" [ngClass]="{'is-invalid':form.controls['tag'].errors && submitted}">
                @if (form.controls['tag'].errors && submitted){
                  <small class="invalid-feedback">Favor de ingresar una etiqueta valida</small>
                }
              </div>
            
             
           
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-save">Agregar</button>
              </div>
          </form>
        </div>
       
 
      </div>
    </div>
  </div>
  
