
<!--
Práctica 3 
Equipo de:
Mendiola Montes Victor Manuel
Carranza Bolaǹos Jatniel
-->

    <div class="card mt-5 pb-1 bg-info bs5-">
        <h1 class="card-header text-center mb-4 text-white">Categorías</h1>
        <table class="card-body table">
            <thead>
                <tr>
                    <th >ID</th>
                    <th >Categoría</th>
                    <th >Tag</th>
                    <th >Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th >1</th>
                    <td>Electrónica</td>
                    <td>#tech</td>
                    <td>Activo</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Programación</td>
                    <td>#code</td>
                    <td>Activo</td>
                </tr>
                <tr>
                    <th >3</th>
                    <td>Diseño</td>
                    <td>#art</td>
                    <td>Inactivo</td>
                </tr>
                <tr>
                    <th>4</th>
                    <td>Marketing</td>
                    <td>#business</td>
                    <td>Activo</td>
                </tr>
                <tr>
                    <th >5</th>
                    <td>Fotografía</td>
                    <td>#photo</td>
                    <td>Inactivo</td>
                </tr>
            </tbody>
        </table>
    </div>


