<header>
    <nav class="navbar navbar-expand-md fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand styledTitle" role="button" (click)="redirect(['home'])">Inicio</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav w-100 flex-md-row">

            <li class="nav-item">
              <a class="nav-link" href="#">Categorias</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>

            <!-- <li>Carrito</li> -->
            <div class="dropdownImg dropstart ms-md-auto">
              <img src="user.png" class="userImg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              
              <ul class="dropdown-menu">
                <li *ngIf="!logged"><a  class="dropdown-item" role="button" (click)="redirect(['login'])">Inicia sesion</a></li>
                <li *ngIf="!logged"><a class="dropdown-item" role="button" (click)="redirect(['register'])">Registrate</a></li>

                <li *ngIf="logged"><a class="dropdown-item" role="button" (click)="redirect(['register'])">Perfil</a></li>
                <li *ngIf="logged"><a class="dropdown-item" role="button" (click)="logOut()">Salir</a></li>
                
                <li *ngIf="admin" class="dropdown-item" role="button" (click)="redirect(['product'])"><a>Admin</a></li>
              </ul>
            </div>


          </ul>
        </div>
    
      </div>
    </nav>
  </header>