:root{
--main-color:#7843e6;
--secondary-color:#ff00ff;
--tertiary-color:#00ffff;
--text-color:#ffffff;
--invText-color:#000000;
--bg-color:#000000;
--hover1-color:#925ff8;
--hover2-color:#ff43ff;
--hover3-color:#4fffff;

}
*{
}
body{
    width: 100vw;
    height: 100vh;
    margin-top: 56px;
    background-color:var(--bg-color) ;
}
.styledTitle {
    
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    font-family: 'bungee',Arial, sans-serif;
    color: var(--main-color); /* Color principal del texto */
    text-shadow: 
    1px -1px 0px var(--secondary-color), -1px 1px 0px var(--tertiary-color);
    transition: transform 0.3s ease;

}
.styledTitle:hover{
    transform: scale(1.1);
}

